


    <div class="container">
    	<div class="row">

        <!-- Column 1 -->
        <div class="span3">
          <ul class="thumbnails">
            <li class="span3">
              <div class="thumbnail">
                <div class="projecs-header">
                  <h4>Projects</h4>
                  <a class="btn btn-primary btn-small" href="#"><i class="icon-plus"></i> Add new project</a>                  
                </div>        

                <!-- Start project B -->
                <div class="project" ng-repeat="project in projects">
                  <div class="project-header in project-{{project.id}}" id="project-header-{{project.id}}">
                      <a href="#" data-toggle="collapse" data-target=".project-{{project.id}}">
                        <i class="icon-chevron-right"></i>
                      </a>
                      {{project.name}}
                      <a href="#" class="btn btn-small pull-right" >Start</a>                  
                  </div>
                  <div id="project-form-{{project.id}}" class="collapse project-form project-{{project.id}}">
                    <form>
                      <fieldset>
                        <a href="#" class="collapse-arrowk" data-toggle="collapse" data-target=".project-{{project.id}}">
                          <i class="icon-chevron-down"></i>
                        </a>
                        <div class="control-group">
                          <label>Project Name
                            <span class="controls">
                              <input type="text" placeholder="Project name" value="{{project.name}}">                            
                            </span>
                          </label>
                        </div>
                        <div class="control-group">
                          <label>Customer Name
                            <span class="controls">
                              <input type="text" placeholder="Customer name" value="{{project.customerName}}> 
                            </span>
                          </label>
                        </div>

                        <div class="control-group">
                          <label>Rate
                            <div class="controls">
                              <input type="number" placeholder="Hourly rate" value="{{project.rate}}>
                            </div>
                          </label>                      
                        </div>
                        <div class="btn-group">
                          <button class="btn">Save</button>
                          <button class="btn">Reset</button>
                        </div>
                      </fieldset>
                    </form>                
                  </div>                  
                </div>
                <!-- End project B -->
              </div>
            </li>
          </ul>
        </div>
        <!-- Center column -->
        <div class="span6">
          <h1>Dashboard</h1>
  Nothing here {{$welcome}}
  {{$yet}}
        </div>
        <!-- Column 3 -->
        <div class="span3">
          <ul class="thumbnails">
            <li class="span3">
              <div class="thumbnail">
                <h4>Company name</h4>
                  <p>
                    <strong>This week</strong><br/>
                    100 hrs
                  </p>
                  <p>
                    <strong>This month</strong><br/>
                    400 hrs
                  </p>
                  <p>
                    <strong>This year</strong><br/>
                    10345 hrs
                  </p>                                                
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <div class="">                
                  <img src="../images/avatar-32x32.png" alt="">
                </div>
                <div class="">
                  <strong>Jim Arnell</strong>
                  <ul>
                    <li>Project A</li>
                    <li>12:00 (3h42m)</li>
                  </ul>
                </div>                                              
              </div>
            </li>
          </ul>
        </div>
    	</div>
    </div>
