   <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#/">
           <img src="../images/logo.png"  alt="&lt;LOGO&gt;"/>
        </a>

        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
          </ul>
        </div>        
      </div>
    </div> 

    <div class="container">
    	<div id="registrationForm">
			<form id="registration" class="form-horizontal" action="#" th:action="@{/registration/create}" method="post">
				<fieldset>
				
					<!-- Form Name -->
					<legend>Registration</legend>
					
					<!-- Text input-->
					<div class="control-group">
					  <label class="control-label" for="email">Email</label>
					  <div class="controls">
					    <input id="email" name="email" type="email" placeholder="Enter email address" class="input-xlarge" required="" tabindex="1" autofocus="autofocus" />
					  </div>
					</div>
					
					<!-- Password input-->
					<div class="control-group">
					  <label class="control-label" for="password">Password</label>
					  <div class="controls">
					    <input id="password" name="password" type="password" placeholder="Enter your password" class="input-xlarge" required="" tabindex="2"/>
					  </div>
					</div>
					
					<!-- Text input-->
					<div class="control-group">
					  <label class="control-label" for="company">Company name</label>
					  <div class="controls">
					    <input id="company" name="company" type="text" placeholder="Enter company name" class="input-xlarge" tabindex="3"/>
							<span class="help-inline">Optional</span>
					  </div>
					</div>
					
					<!-- Button -->
					<div class="control-group">
					  <label class="control-label" for="singlebutton"></label>
					  <div class="controls">
					    <button id="singlebutton" name="singlebutton" class="btn btn-primary" >Register</button>
					  </div>
					</div>
					
				</fieldset>
			</form>
		</div>
	</div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <p class="pull-left">&copy; 2013 Arnell Consulting AB &middot; <a href="#">Testar</a>&middot; <a href="#">Terms</a></p>
        </div>
        <div class="row">
          <hr/>
          <h4>Server Side Techology</h4>
          <p>
            <a href="http://www.springframework.org" class="footer-logo">
              <img src="../images/powered-by-spring.png" alt="Powered by Spring"/>
            </a>
            <a href="http://www.thymeleaf.org/" class="footer-logo">
              <img src="../images/thymeleaf.png" alt="Thymeleaf"/>
            </a>            
          </p>
        </div>
        <div class="row">
          <hr/>
          <h4>Client Side Techology</h4>
          <p>
            <a href="http://www.jquery.com" class="footer-logo">
              <img src="../images/jquery.png" alt="Powered by jQuery"/>
            </a>
            <a href="http://twitter.github.io/bootstrap/" class="footer-logo">
              <img src="../images/bootstrap.png" alt="Bootstrap"/>
            </a>
            <a href="http://yeoman.io/" class="footer-logo">
              <img src="../images/yeoman.png" alt="Yeoman"/>
            </a>
            <a href="http://angularjs.org/" class="footer-logo">
              <img src="../images/angularjs.png" alt="AngularJS"/>
            </a>            
          </p>
        </div>
      </div>
    </footer>		
