

    <div class="container">
    	<div id="registrationForm">
			<form id="registration" class="form-horizontal" action="#" th:action="@{/registration/create}" method="post">
				<fieldset>
				
					<!-- Form Name -->
					<legend>Registration</legend>
					
					<!-- Text input-->
					<div class="control-group">
					  <label class="control-label" for="email">Email</label>
					  <div class="controls">
					    <input id="email" name="email" type="email" placeholder="Enter email address" class="input-xlarge" required="" tabindex="1" autofocus="autofocus" />
					  </div>
					</div>
					
					<!-- Password input-->
					<div class="control-group">
					  <label class="control-label" for="password">Password</label>
					  <div class="controls">
					    <input id="password" name="password" type="password" placeholder="Enter your password" class="input-xlarge" required="" tabindex="2"/>
					  </div>
					</div>
					
					<!-- Text input-->
					<div class="control-group">
					  <label class="control-label" for="company">Company name</label>
					  <div class="controls">
					    <input id="company" name="company" type="text" placeholder="Enter company name" class="input-xlarge" tabindex="3"/>
							<span class="help-inline">Optional</span>
					  </div>
					</div>
					
					<!-- Button -->
					<div class="control-group">
					  <label class="control-label" for="singlebutton"></label>
					  <div class="controls">
					    <button id="singlebutton" name="singlebutton" class="btn btn-primary" >Register</button>
					  </div>
					</div>
					
				</fieldset>
			</form>
		</div>
	</div>
