   <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#/">
           <img src="../images/logo.png"  alt="&lt;LOGO&gt;"/>
        </a>

        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            <li><a href="#/main">Home</a></li>
            <li ><a href="#contact">Dashboard</a></li>
            <li class="active"><a href="#/reports">Reports</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span>{{user@example.org}}</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile<i class="icon-user icon-black"></i></a></li>
                <li><a href="#">Settings<i class="icon-cog icon-black"></i></a></li>
                <li><a href="#">Logout<i class="icon-unlock icon-black"></i></a></li>
              </ul>
            </li>
          </ul>
        </div>        
      </div>
    </div> 
	<div class="container">
		<p>This is the reports view.</p>		
	</div>


    <footer class="footer">
      <div class="container">
        <div class="row">
          <p class="pull-left">&copy; 2013 Arnell Consulting AB &middot; <a href="#">Testar</a>&middot; <a href="#">Terms</a></p>
        </div>
        <div class="row">
          <hr/>
          <h4>Server Side Techology</h4>
          <p>
            <a href="http://www.springframework.org" class="footer-logo">
              <img src="../images/powered-by-spring.png" alt="Powered by Spring"/>
            </a>
            <a href="http://www.thymeleaf.org/" class="footer-logo">
              <img src="../images/thymeleaf.png" alt="Thymeleaf"/>
            </a>            
          </p>
        </div>
        <div class="row">
          <hr/>
          <h4>Client Side Techology</h4>
          <p>
            <a href="http://www.jquery.com" class="footer-logo">
              <img src="../images/jquery.png" alt="Powered by jQuery"/>
            </a>
            <a href="http://twitter.github.io/bootstrap/" class="footer-logo">
              <img src="../images/bootstrap.png" alt="Bootstrap"/>
            </a>
            <a href="http://yeoman.io/" class="footer-logo">
              <img src="../images/yeoman.png" alt="Yeoman"/>
            </a>
            <a href="http://angularjs.org/" class="footer-logo">
              <img src="../images/angularjs.png" alt="AngularJS"/>
            </a>            
          </p>
        </div>
      </div>
    </footer>