        <div class="row">
          <hr/>
          <h4>Server Side Techology</h4>
          <p>
            <a href="http://www.springframework.org" class="footer-logo">
              <img src="../images/attribution/powered-by-spring.png" alt="Powered by Spring"/>
            </a>
          </p>
        </div>
        <div class="row">
          <hr/>
          <h4>Client Side Techology</h4>
          <p>
            <h5>Featuring</h5>
            <a href="http://yeoman.io/" class="footer-logo">
              <img src="../images/attribution/yeoman.png" alt="Yeoman"/>
            </a>
            <h5>Featuring</h5>
            <a href="http://www.jquery.com" class="footer-logo">
              <img src="../images/attribution/jquery.png" alt="Powered by jQuery"/>
            </a>
            <a href="http://twitter.github.io/bootstrap/" class="footer-logo">
              <img src="../images/attribution/bootstrap.png" alt="Bootstrap"/>
            </a>
            <a href="http://angularjs.org/" class="footer-logo">
              <img src="../images/attribution/angularjs.png" alt="AngularJS"/>
            </a>            
          </p>
        </div>