
    <div class="container" ng-show="person" >

      <div class="row">
          <div ng-include src="'views/partials/loading.html'" >
          </div>        
      </div>

      <!-- Projects -->
    	<div class="row">
        <!-- Column 1 -->
        <div class="span3">
          <div ng-include src="'views/partials/dashboard/projects.html'" ng-controller="DashboardProjectsCtrl">
          </div>
        </div>
        <!-- Center column -->
        <div class="span6">

          <!-- Conditonal alert if user is not yet verified  -->
          <div ng-include src="'views/partials/user.html'" ng-hide="person.emailVerified">
          </div>

          <!-- Time entries table -->
          <div ng-include src="'views/partials/dashboard/timeEntries.html'" ng-controller="DashboardTimeEntriesCtrl" >
          </div>

        </div>
        <!-- Column 3 -->
        <div class="span3" ng-include="'views/partials/dashboard/company.html'" >
        </div>

        </div>
    	</div>
    </div>
