<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="LoginCtrl" ng-hide="person">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon-bar"></span>
        <span class="glyphicon-bar"></span>
        <span class="glyphicon-bar"></span>
      </button>
      <img src="images/self/logo.png"/>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" size="40" class="form-control" ng-model="username">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" ng-model="password">
        </div>
        <button type="submit" class="btn btn-success" ng-click="login()" >Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</div>    

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>Time Tracking</h1>
          <p class="lead">The simple time tracking solution!</p>
          <p>Report time in either web browser or on your mobile phone.</p>
          <p>Generate printed invoices in seconds.</p>
          <p>Add coworkers to your company</p>
          <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Register</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <h1>Report Time</h1>
          <p class="lead">Either enter your time using a web browser or a mobile phone.</p>
          <p>Supported clients</p>
          <p>&middot; iPhone</p>
          <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Register</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <h1>Generate invoices</h1>
          <p class="lead">Background picture a printed invoice.</p>
          <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Register</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><!-- /.carousel -->

