  <footer class="footer" tiles:fragment="content">
    <div class="container">
      <div class="row">
        <p class="pull-left">&copy; 2013 Arnell Consulting AB &middot; <a href="#">Testar</a>&middot; <a href="#">Terms</a></p>

        <p class="pull-right">
          <a href="http://www.springframework.org">
            <img src="../images/powered-by-spring.png" th:src="@{/resources/images/powered-by-spring.png}" alt="Powered by Spring"/>
          </a>
        </p>
      </div>
    </div>
  </footer>