<body tiles:fragment="content">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">
         <img src="../images/logo.png" th:src="@{/resources/images/logo.png}" alt="&lt;LOGO&gt;"/>
      </a>


      <form class="navbar-form pull-right" sec:authorize="hasRole('ROLE_ANONYMOUS')">
        <input type="text" class="span2" placeholder="Login"/> 
        <input type="text" class="span2" placeholder="Password"/> 
        <input type="submit" value="Login" class="btn"/>
      </form>

      <div class="nav-collapse collapse pull-right" sec:authorize="hasRole('ROLE_USER')">
        <ul class="nav">
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#contact">Projects</a></li>
          <li><a href="#contact">Reports</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle"
            data-toggle="dropdown">user@example.org<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile<i class="icon-user icon-black"></i></a></li>
              <li><a href="#">Settings<i class="icon-cog icon-black"></i></a></li>
              <li><a href="#">Logout<i class="icon-unlock icon-black"></i></a></li>
            </ul></li>
        </ul>
      </div>

    </div>
  </div> 
</body>