<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>Time Reporting Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
              
    <!-- Blue print framework CSS -->  
    <link rel="stylesheet" href="../styles/blueprint/print.css" th:href="@{/styles/blueprint/print.css}" type="text/css" media="print"/> 
    <!--[if IE]><link rel="stylesheet" href="../styles/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->  
        
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/tps.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/dark_login/style.css" />
      

    <script type="text/javascript" src="#" th:src="@{/resources/dojo/dojo.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring-Dojo.js}"></script>
    
</head>

<body>        

    <div id="header" >
        <h1>
            <a href="/">TRS</a>
        </h1>
        <div id="navigation">
            <nav>
                <ul>
                    <li>Login</li>
                    <li>Register</li>
                </ul>
            </nav>    
        </div>
    </div> 

    <div id="content">
        <div id="main" class="span-18 last" tiles:include="body">

          <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->      
          <!-- At runtime, the body of this <div> will be substituted by -->
          <!-- Tiles in order to create the final HTML page that will be -->
          <!-- sent to the browser.                                      -->
          <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->      
          
          BODY PAGE GOES HERE!              
        </div>
    </div>
    
    <div id="footer">
        <a href="http://www.springframework.org">
            <img src="../../images/powered-by-spring.png" th:src="@{/resources/images/powered-by-spring.png}" alt="Powered by Spring" />
        </a>
    </div>
        
  </body>
</html>
