<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>Time Reporting Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
              
    <!-- Blue print framework CSS -->  
    <link rel="stylesheet" href="../styles/blueprint/print.css" th:href="@{/styles/blueprint/print.css}" type="text/css" media="print"/> 
    <link rel="stylesheet" href="../styles/blueprint/screen.css" th:href="@{/styles/blueprint/screen.css}" type="text/css" media="screen, projection"/>
    <!--[if IE]><link rel="stylesheet" href="../styles/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->  
        
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/tps.css" th:href="@{/styles/tps.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/dark_login/style.css" th:href="@{/styles/dark_login/style.css}" />
      

    <script type="text/javascript" src="#" th:src="@{/resources/dojo/dojo.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring-Dojo.js}"></script>
    
</head>

<body>        
	<div tiles:include="header" id="header_standard"/>
	<div tiles:include="body" id="body" class="prepend-6 span-10 append-2 last">
	</div>
	<div id="footer" tiles:substituteby="footer"></div>
        
  </body>
</html>
