<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Time Entries</h4>
      </div>
      <div class="panel-body projects">
        <p>
          <form action="#">
            <input type="date" ng-model="selectedDate"/>
          </form>
        </p>
        <table  class="table table-bordered table-hover table-striped" >
          <thead>
            <tr>
              <th rowspan="2" class="span2">Project</th>
              <th colspan="3" class="span2">Time</th>
              <th rowspan="2" class="span1">&nbsp;</th>
            </tr>
            <tr>
              <th><small>Start</small></th>
              <th><small>End</small></th>
              <th><small>Duration</small></th>
            </tr>
          </thead>
          <tbody ng-repeat="timeEntry in filteredTimeEntries = (timeEntries | dateFilter:selectedDate)">
            <tr>
              <td>{{timeEntry.project.name}}</td>
              <td>{{timeEntry.startTime | date: 'HH:mm:ss'}}</td>
              <td>{{getEndTime(timeEntry)}}</td>
              <td>{{getDuration(timeEntry)}}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-link glyphicon-edit" ng-click="editTimeEntry(timeEntry)"></button>
                  <button class="btn btn-link glyphicon-remove" ng-click="removeTimeEntry(timeEntry)"></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>


