<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Landing page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Le styles -->
   <link rel='stylesheet' 
         href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css'
         th:href='@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}'/>
   <link rel='stylesheet' 
         href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css'
         th:href='@{/webjars/bootstrap/2.3.0/css/bootstrap-responsive.min.css}'/>
   <link rel='stylesheet' 
         href="/webjars/font-awesome/3.2.1/css/font-awesome.min.css" 
         th:href="@{/webjars/font-awesome/3.2.1/css/font-awesome.min.css}" />
    
  </head>
  <body>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="landing.html">
          <img src="../images/logo.png" alt="LOGO"/>
        </a>
      </div>
    </div>

    <div class="container" tiles:fragment="content">
    	<div class="row">
        <h3>You are successfully logged out</h3>
	   </div>
    </div>
    
  </body>
</html>
