<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" th:href="@{/resources/assets/css/bootstrap.css}" />
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet" th:href="@{/resources/assets/cssbootstrap-responsive.css}" />
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" th:href="@{/resources/font-awesome/css/font-awesome.min.css}" />
    <style>

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      color: #5a5a5a;
	    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }

  	/* Customize the footer, inverted black */
  	.footer {
  		background-color: black;
  		margin-top: 40px;
  		padding: 15px 50px;
  		margin-bottom: 0px;
  		color:gray; 
  		border-top: 1px solid #e5e5e5;
  	}

  	html {
  		background-color: black;
  	}


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

    }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"/>
    <link rel="shortcut icon" href="../assets/ico/favicon.png"/>
  </head>

  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">      
  		<div class="navbar-inner">
  			<a class="brand" href="landing.html"><img src="../images/logo.png" alt="LOGO"/></a>
  		</div>
    </div>
<!-- FROM START OF DOCUMENT -->
<!-- header.html END -->

    <div class="container" tiles:fragment="content">
    	<div id="registrationForm">
			<form class="form-horizontal">
				<fieldset>
				
				<!-- Form Name -->
				<legend>Registration</legend>
				
				<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="email">Email</label>
				  <div class="controls">
				    <input id="email" name="email" type="email" placeholder="Enter email address" class="input-xlarge" required=""/>
				    <p class="help-block">Enter your email</p>
				  </div>
				</div>
				
				<!-- Password input-->
				<div class="control-group">
				  <label class="control-label" for="password">Password</label>
				  <div class="controls">
				    <input id="password" name="password" type="password" placeholder="Enter your password" class="input-xlarge" required=""/>
				    <p class="help-block">Enter your password</p>
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="company">Company name</label>
				  <div class="controls">
				    <input id="company" name="company" type="text" placeholder="Enter company name" class="input-xlarge"/>
				    <p class="help-block">Enter company name</p>
				  </div>
				</div>
				
				<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="singlebutton"></label>
				  <div class="controls">
				    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Register</button>
				  </div>
				</div>
				
				</fieldset>
			</form>
			 	
    	</div>
	</div>

	<!-- footer.html start -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<p class="pull-left">
					&copy; 2013 Arnell Consulting AB &middot; 
					<a href="#">Privacy</a>&middot; 
					<a href="#">Terms</a>
				</p>
				<p class="pull-right">
					<a href="http://www.springframework.org">
						<img src="../images/powered-by-spring.png" th:src="@{/resources/images/powered-by-spring.png}" alt="Powered by Spring" />
					</a>
				</p>
			</div>
		</div>
	</footer>

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../assets/js/jquery.js" 
          th:src="@{/resources/assets/js/jquery.js}" 
          type="text/javascript">
  </script>  
  <script src="../assets/js/bootstrap-transition.js" 
          th:src="@{/resources/assets/js/bootstrap-transition.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-alert.js" 
          th:src="@{/resources/assets/js/bootstrap-alert.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-modal.js" 
          th:src="@{/resources/assets/js/bootstrap-modal.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-dropdown.js" 
          th:src="@{/resources/assets/js/bootstrap-dropdown.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-scrollspy.js" 
          th:src="@{/resources/assets/js/bootstrap-scrollspy.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-tab.js" 
          th:src="@{/resources/assets/js/bootstrap-tab.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-tooltip.js" 
          th:src="@{/resources/assets/js/bootstrap-tooltip.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-popover.js" 
          th:src="@{/resources/assets/js/bootstrap-popover.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-button.js" 
          th:src="@{/resources/assets/js/bootstrap-button.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-collapse.js" 
          th:src="@{/resources/assets/js/bootstrap-collapse.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-carousel.js" 
          th:src="@{/resources/assets/js/bootstrap-carousel.js}" 
          type="text/javascript">
  </script>
  <script src="../assets/js/bootstrap-typeahead.js" 
          th:src="@{/resources/assets/js/bootstrap-typeahead.js}" 
          type="text/javascript">
  </script>
  <script type="text/javascript">
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
  </script>
  <script src="../assets/js/holder/holder.js" 
          th:src="@{/resources/assets/js/holder/holder.js}" 
          type="text/javascript">
  </script>
  </body>
</html>
